.contact-content {
  padding: 20px;
  text-align: center;
}

body {
  background-color: rgb(236, 252, 252);
}

.contact-content h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-content p {
  line-height: 1.5;
}

/*
 body {
    background-color: rgb(236, 252, 252);
  }

  main {
    background-color: rgb(236, 252, 252);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }