.home-page {
  margin: 0 auto;
  padding: 20px;
}

body {
  background-color: rgb(236, 252, 252);
}

.page-content {
  margin-bottom: 40px;
  text-align: center;
}

.page-content h2 {
  font-size: 28px;
  margin: 0;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button,
#random-recipe-button {
  display: inline-block;
  padding: 20px 40px;
  background-color: #f97e7e;
  color: #fff;
  border-radius: 10px;
  margin-right: 25px;
  font-size: 24px;
  text-decoration: none;
  cursor: pointer;
  margin: 20px;
}

#random-recipe-button {}

.button:hover,
#random-recipe-button:hover {
  background-color: #f01d1d;
}

.search-container {
  text-align: center;
}

.search-container form {
  display: inline-block;
}

.search-container label {
  display: block;
}