/* Lasagna Recipe CSS */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

h1 {
    text-align: center;
    color: rgb(85, 214, 87);
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

h2 {
    font-size: 1.5em;
    color: #333;
}

p {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    font-size: 1.2em;
}

h3 {
    font-size: 1.2em;
    color: #cc3300;
}

ul {
    max-width: 80%;
    margin: 0 auto;
}

li {
    font-size: 1.1em;
    margin-bottom: 10px;
}

ol {
    max-width: 80%;
    margin: 0 auto;
}

a {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #cc3300;
    font-size: 1.2em;
    text-decoration: none;
}